body {
  line-height: 1;
  overflow-x: hidden;
  background-color: #f2f2f2 !important;
}

html {
  font-family: 'roboto', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 0;
}

.custom-bullet-container,
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  border-radius: 0;
  margin-right: 8px;
  width: 8px;
  height: 8px;
  background-color: white;
  opacity: 1;
  transition: all 0.3s ease-out;
  border-radius: 50%;
}
.swiper-pagination-bullet {
  background: #707070;
}
.swiper-pagination-bullet-active {
  background: white;
  transform: scale(1.2);
}

.grecaptcha-badge {
  display: none;
}

.active-nav-link {
  color: #1c6bba !important;
  -webkit-text-stroke: 0.5px #1c6bba;
}

a:hover,
a:visited,
a:active {
  text-decoration: none;
}
